# Archivos JSON (u otros) sensibles o temporales
TMDB_movie_dataset_v11.csv
Archivo_usuarios_normales.json
Archivo_usuarios_premium.json
visualizaciones.json

*.cache
*.log

# Archivos de Python que no deben subirse
__pycache__/
*.pyc
InterfazPrincipal2.py
prueba.py
Clases_and_metodos_old.py

# Archivos de entorno o configuración local
.env
requirements2.txt

# Archivos de bases de datos temporales
*.db

# Archivos de VS Code o editores
.vscode/

# Carpetas de errores
ErroresNormal/
ErroresPremium/
